# General Engine Settings
WAZUH_VM_IP=192.168.80.128
ALERTS_PATH=/var/ossec/logs/alerts/alerts.json
MIN_RULE_LEVEL=7

# 1Password Secret URIs 
SSH_USER=op://Homelab/Wazuh Server/username
SSH_PASS=op://Homelab/Wazuh Server/password
TELEGRAM_BOT_TOKEN=op://Homelab/Telegram Bot/token
TELEGRAM_CHAT_ID=op://Homelab/Telegram Bot/chat_id
